:root {
    --grid-item-width: calc((var(--grid-width) / 2) - 20px);
    --grid-item-height: var(--grid-item-width);
}

.item-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--grid-item-height);
    width: var(--grid-item-width);
    background-color: red;
    margin: 10px;
}

.logo-img {
    height: auto;
    max-width: var(--grid-item-width);
}

/* MEDIA QUERIES (BOOTSRAP REFERNCE BREAKPOINTS) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    :root {
        --grid-item-width: calc((var(--grid-width) / 3) - 20px);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
        --grid-item-width: calc((var(--grid-width) / 4) - 20px);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}