@keyframes line-active1 {
    0% {
        top: 0;
        transform: rotate(0deg)
    }
    100% {top: 9px;
        transform: rotate(45deg);};
  }

  @keyframes line-active3 {
    0% {
        top: 15px;
        transform: rotate(0deg)
    }
    100% {top: 9px;
        transform: rotate(-225deg);};
  }

  @keyframes shadow-expand {
    0% {
        top:-70px;
        left:-65px;
        height: 130px;
        width: 130px;
        border-radius: 60px;
        background-color: rgba(0,0,0,0.25);
    }
    100% {
        top: 0;
        left: 0;
        height: var(--app-drawer-body-height);
        width: var(--app-drawer-body-width);
        border-radius: 0;
        background-color: rgba(0,0,0,0);
        };
  }


.hamburger-button {
    position: fixed;
    z-index: 2;
    display: block;
    height: 21px;
    width: 27px;
    top: 12px;
    left: 12px;
    cursor: pointer;
}

.button-shadow {
    position: fixed;
    display: block;
    top:-70px;
    left:-65px;
    height: 130px;
    width: 130px;
    border-radius: 60px;
    background-color: rgba(0,0,0,0.25);
    cursor: pointer;
}

.shadow-expand {
    background-color: transparent;
    animation: shadow-expand;
    animation-duration: .75s;
}
    

.hamburger-line {
    display: block;
    height: 3px;
    width: 27px;
    background-color: white;
    border-radius: 1.5px;
}

#line1 {
    position: absolute;
}

#line1.active {
    top: 9px;
    transform: rotate(45deg);
    animation: line-active1;
    animation-duration: .5s;
}

#line2 {
    position: absolute;
    top: 9px;
}

#line2.active {
    opacity: 0;
}

#line3 {
    position: absolute;
    top: 18px;
}

#line3.active {
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    animation: line-active3;
    animation-duration: .5s;
}