/* BUTTON BODY */

.hamburger-button {
  position: fixed;
  z-index: 3;
  display: block;
  height: 21px;
  width: 27px;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

/* BUTTON SHADOW */

.button-shadow {
  position: fixed;
  display: block;
  z-index: 2;
  top: -70px;
  left: -65px;
  height: 130px;
  width: 130px;
  border-radius: 60px;
  background-color: grey;
  cursor: pointer;
}

@keyframes shadow-activate {
  0% {
    top: -70px;
    left: -65px;
    height: 130px;
    width: 130px;
    border-radius: 60px;
    background-color: grey;
  }

  60% {
    top: 0;
    left: 0;
    height: calc(var(--app-drawer-body-height) + 250px);
    width: var(--app-drawer-body-width);
    border-radius: 0;
    background-color: grey;
  }
  100% {
    top: 0;
    left: 0;
    height: var(--app-drawer-body-height);
    width: var(--app-drawer-body-width);
    border-radius: 0;
    background-color: grey;
  }
}
  @keyframes shadow-deactivate {
    0% {
      height: 0;
      width: 0;
      border-radius: 60px;
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
        height: 130px;
        width: 130px;
        border-radius: 60px;
        background-color: grey;
    }
}

.button-shadow.active {
    background-color: grey;
}

.shadow-activate {
  animation: shadow-activate;
  animation-duration: 1.25s;
}

.shadow-deactivate {
    animation: shadow-deactivate;
    animation-duration: 0.75s;
  }

/* HAMBURGER LINES */

.hamburger-line {
  display: block;
  height: 3px;
  width: 27px;
  background-color: white;
  border-radius: 1.5px;
}

/* HAMBURGER LINE TOP */

#line1 {
  position: absolute;
}

#line1.active {
  top: 9px;
  transform: rotate(45deg);
}

@keyframes line-activate1 {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes line-deactivate1 {
  0% {
    top: 9px;
    transform: rotate(45deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

.line-activate1 {
  animation: line-activate1;
  animation-duration: 0.5s;
}

.line-deactivate1 {
    animation: line-deactivate1;
    animation-duration: 0.5s;
  }

/* HAMBURGER LINE MIDDLE */

#line2 {
  position: absolute;
  top: 9px;
}

#line2.active {
    transform: translateX(-150%)
}

@keyframes line-activate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
  }
  
  @keyframes line-deactivate2 {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
  }
  
  .line-activate2 {
    animation: line-activate2;
    animation-duration: 0.5s;
  }
  
  .line-deactivate2 {
      animation: line-deactivate2;
      animation-duration: 0.5s;
    }

/* HAMBURGER LINE BOTTOM */

#line3 {
  position: absolute;
  top: 18px;
}

#line3.active {
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
}

@keyframes line-activate3 {
  0% {
    top: 15px;
    transform: rotate(0deg);
  }
  100% {
    top: 9px;
    transform: rotate(-225deg);
  }
}

@keyframes line-deactivate3 {
    0% {
        top: 9px;
        transform: rotate(-45deg);
      }
    100% {
      transform: rotate(0deg);
    }
  }

.line-activate3 {
  animation: line-activate3;
  animation-duration: 0.5s;
}

.line-deactivate3 {
    animation: line-deactivate3;
    animation-duration: 0.5s;
  }

  /* MEDIA QUERIES (BOOTSRAP REFERNCE BREAKPOINTS) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}