

@keyframes drawer-activate {
    0% {
      left: 0;
      opacity: 0;
    }
    75% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes drawer-deactivate {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 0;
    }
}

.drawer-body {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    left: calc( 0px - var(--app-drawer-body-width));
    width: var(--app-drawer-body-width);
    height: var(--app-drawer-body-height);
    background-color: grey;
    padding-top: 70px;
}

.drawer-body.active {
    left: 0;
}

.drawer-activate {
  animation: drawer-activate;
  animation-duration: .75s;
}

.drawer-deactivate {
    animation: drawer-deactivate;
    animation-duration: .75s;
}

.drawer-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--app-drawer-body-width);
    height: 70px;
    cursor: pointer;
    color: white;
    font-size: calc(var(--app-drawer-body-width) * 0.07);
    text-decoration: none;
}

.drawer-nav:hover {
    background-color: rgb(150, 150, 150);
}

/* MEDIA QUERIES (BOOTSRAP REFERNCE BREAKPOINTS) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}