body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightseagreen;
  color: white;
}

.main {
  margin-top: 175px;
  height: calc(100vh - 175px);
  width: 100vw;
  position: fixed;
  overflow: auto;
  /* background-color: blue; */
}


/* MEDIA QUERIES (BOOTSRAP REFERNCE BREAKPOINTS) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}