:root {
    --grid-wrapper-width: calc(100vw - 100px);
    --tile-md-width: calc((var(--grid-wrapper-width) / 2) - 20px);
    --tile-md-height: var(--tile-md-width);
}



.grid-wrapper {
    width: var(--grid-wrapper-width);
    background-color: grey;
    margin: 0 auto;
}

.grid-tile-md {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--tile-md-height);
    width: var(--tile-md-width);
    background-color: red;
    margin: 10px;
}

/* MEDIA QUERIES (BOOTSRAP REFERNCE BREAKPOINTS) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    :root {
        --tile-md-width: calc((var(--grid-wrapper-width) / 3) - 20px);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
        --tile-md-width: calc((var(--grid-wrapper-width) / 4) - 20px);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :root {
        --grid-wrapper-width: 1000px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
