.section {
    display: block;
    width: 100vw;
    margin: 20px 0;
    padding: 20px 0;
}

.section-break {
    display: block;
    height: 3px;
    width: 60vw;
    margin: 100px auto;
    border: none;
    border-radius: 1.5px;
    background-color: white;
}

.section-title {
    text-align: center;
    font-size: clamp(30px, 5vw, 50px);
}

.section-subtitle {
    margin: 2vw 10vw;
    text-align: center;
    font-size: clamp(10px, 2.5vw, 18px);
    line-height: clamp(20px, 5vw, 36px);
}

/* MEDIA QUERIES (BOOTSRAP REFERNCE BREAKPOINTS) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}