.section {
    display: block;
    width: 100vw;
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
    margin: 20px 0;
    padding: 20px 0;
}

.section-break {
    display: block;
    height: 3px;
    width: 80vw;
    margin: 10px auto;
    border: none;
    border-radius: 1.5px;
    background-color: white;
}

/* MEDIA QUERIES (BOOTSRAP REFERNCE BREAKPOINTS) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}